h1 {
    color: rgb(177, 48, 91);
  }
  h1,
  h2,
  h3,
  tr,
  p {
    font-family: "Georgia", Georgia, 'Times New Roman', Times, serif;
  }
  /* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(122, 79, 61);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #aa0452;
    color: white;
  }
 
  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(137, 101, 89);
    color: rgb(255, 255, 255);
  }
  #footer {
      position: fixed;
      padding: 30px;
      bottom: 0;
      width: 100%;
      /* Height of the footer*/
      height: 40px;
  }